@charset "utf-8";
/* CSS Document */
@font-face {
    font-family: 'RobotoRegular';
    font-display: swap;
    src: url('fonts/Roboto-Regular.eot');
    src: url('fonts/Roboto-Regular.eot') format('embedded-opentype'),
         url('fonts/Roboto-Regular.html') format('woff2'),
         url('fonts/Roboto-Regular.woff') format('woff'),
         url('fonts/Roboto-Regular.ttf') format('truetype'),
         url('fonts/Roboto-Regular.svg#Roboto-Regular') format('svg');
}
@font-face {
    font-family: 'RobotoBold';
    font-display: swap;
    src: url('fonts/Roboto-Bold.eot');
    src: url('fonts/Roboto-Bold.eot') format('embedded-opentype'),
         url('fonts/Roboto-Bold.html') format('woff2'),
         url('fonts/Roboto-Bold.woff') format('woff'),
         url('fonts/Roboto-Bold.ttf') format('truetype'),
         url('fonts/Roboto-Bold.svg#Roboto-Bold') format('svg');
}
@font-face {
    font-family: 'RobotoBlack';
    font-display: swap;
    src: url('fonts/Roboto-Black.eot');
    src: url('fonts/Roboto-Black.eot') format('embedded-opentype'),
         url('fonts/Roboto-Black.html') format('woff2'),
         url('fonts/Roboto-Black.woff') format('woff'),
         url('fonts/Roboto-Black.ttf') format('truetype'),
         url('fonts/Roboto-Black.svg#Roboto-Black') format('svg');
}
@font-face {
    font-family: 'RobotoCondensedBold';
    font-display: swap;
    src: url('fonts/RobotoCondensedBold.eot');
    src: url('fonts/RobotoCondensedBold.eot') format('embedded-opentype'),
         url('fonts/RobotoCondensedBold.html') format('woff2'),
         url('fonts/RobotoCondensedBold.woff') format('woff'),
         url('fonts/RobotoCondensedBold.ttf') format('truetype'),
         url('fonts/RobotoCondensedBold.svg#RobotoCondensedBold') format('svg');
}
@font-face {
    font-family: 'RobotoCondensedRegular';
    font-display: swap;
    src: url('fonts/RobotoCondensedRegular.eot');
    src: url('fonts/RobotoCondensedRegular.eot') format('embedded-opentype'),
         url('fonts/RobotoCondensedRegular.html') format('woff2'),
         url('fonts/RobotoCondensedRegular.woff') format('woff'),
         url('fonts/RobotoCondensedRegular.ttf') format('truetype'),
         url('fonts/RobotoCondensedRegular.svg#RobotoCondensedRegular') format('svg');
}
@font-face {
    font-family: 'UTMAvo';
    font-display: swap;
    src: url('fonts/UTMAvo.eot');
    src: url('fonts/UTMAvo.eot') format('embedded-opentype'),
         url('fonts/UTMAvo.html') format('woff2'),
         url('fonts/UTMAvo.woff') format('woff'),
         url('fonts/UTMAvo.ttf') format('truetype'),
         url('fonts/UTMAvo.svg#UTMAvo') format('svg');
}
@font-face {
    font-family: 'UTMAvoBold';
    font-display: swap;
    src: url('fonts/UTMAvoBold.eot');
    src: url('fonts/UTMAvoBold.eot') format('embedded-opentype'),
         url('fonts/UTMAvoBold.html') format('woff2'),
         url('fonts/UTMAvoBold.woff') format('woff'),
         url('fonts/UTMAvoBold.ttf') format('truetype'),
         url('fonts/UTMAvoBold.svg#UTMAvoBold') format('svg');
}
@font-face {
    font-family: 'GothamNarrowBook';
    font-display: swap;
    src: url('fonts/GothamNarrowBook.eot');
    src: url('fonts/GothamNarrowBook.eot') format('embedded-opentype'),
         url('fonts/GothamNarrowBook.html') format('woff2'),
         url('fonts/GothamNarrowBook.woff') format('woff'),
         url('fonts/GothamNarrowBook.ttf') format('truetype'),
         url('fonts/GothamNarrowBook.svg#GothamNarrowBook') format('svg');
}
@font-face {
    font-family: 'UTMHelvetIns';
    font-display: swap;
    src: url('fonts/UTMHelvetIns.eot');
    src: url('fonts/UTMHelvetIns.eot') format('embedded-opentype'),
         url('fonts/UTMHelvetIns.html') format('woff2'),
         url('fonts/UTMHelvetIns.woff') format('woff'),
         url('fonts/UTMHelvetIns.ttf') format('truetype'),
         url('fonts/UTMHelvetIns.svg#UTMHelvetIns') format('svg');
}


/*--------end---------------------*/
